.half,
.quarter,
.one-third,
.full {
  padding: 0;
}
.half {
  width: 50%;
  padding: 0;
}
.quarter {
  width: 25%;
}
/* 
.three-tenths {
  width: 30%;
}
.seven-tenths {
  width: 70%;
} */

.one-third {
  width: 33.33%;
}
.two-third {
  width: 66.67%;
}

.container {
  width: 70%;
}
.author-profile-pic,
.img-container {
  position: relative;
}
.author-profile-pic img {
  min-width: 80%;
  max-width: 80%;
  position: absolute;
  top:50%;
  left: 10%;
  transform: translateY(-50%);
}

.img-container img {
  width: 60%;
}

.definition {
  font-size: 25px;
}

.author-name {
  font-size: 50px;
}
.author-description {
  font-size: 35px;
}

.rcs-def {
  order: 1;
}
.rcs-img {
  order: 2;
}
.prog-skill-name {
  font-size: 25px;
  font-weight: bold;
  /* margin-top: ; */
}
.skill-rate {
  font-size: 15px;
}
